{%extends 'myPage1/mainTheme.html'%}
{%block content%}
    <div class="features">
        <h1> Форма по добавлению</h1>
        <form method="post">
             {% csrf_token %}
            {{form.repair_cost_estimate}}<br>
            {{form.fullname}} <br>
            {{form.name}} <br>
            {{form.otchest }} <br>
            {{form.category1}} <br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit"> Добавить</button>
            <a class="btn btn-danger" href="{% url 'FirstTry:students'%}" role="button">Отмена</a>
        </form>

    </div>
{%endblock%}