{%extends 'myPage1/mainTheme.html'%}
{%block content%}
    <div class="features">
        <h1> Форма по добавлению</h1>
        <form method="post">
             {% csrf_token %}
           {{form.number_group}} <br>
            {{form.special}} <br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit"> Добавить</button>
            <a class="btn btn-danger" href="{% url 'FirstTry:groups'%}" role="button">Отмена</a>
        </form>
    </div>
{%endblock%}