{%extends 'myPage1/mainTheme.html'%}
{%block link%} href="{% url 'FirstTry:create_students'%}" {%endblock%}
{%block content%}

            <div class="alert alert-warning">
                   <form method="post">
                     {% csrf_token %}
                       <h1>Вы уверены?</h1>>
                     <button class="btn btn-danger" onclick="return confirm('Эти действия приведут к полному удалению. Ты уверен , что хочешь продолжить?')" type="submit">Удалить</button>
                        <a class="btn btn-primary" href="{% url 'FirstTry:students'%}" role="button">Отмена</a>
                   </form>

            </div>

{%endblock%}