{%extends 'myPage1/mainTheme.html'%}
{%block link%} href="{% url 'FirstTry:create'%}" {%endblock%}
{%block content%}
<div class="alert alert-warning">
      <h1>В группе {{ group}} находятся: </h1>
     <form method="POST">
                {% csrf_token %}
          {% for el1 in answer %}
         <p>{{el1}}</p>
            {% endfor %}
           </form>
     </div>

{%endblock%}
