{%extends 'myPage1/mainTheme.html'%}
{%block link%} href="{% url 'FirstTry:create'%}" {%endblock%}
{%block content%}
       {%for el in name%}
            <form method="POST">
                {% csrf_token %}
            <div class="alert alert-warning">
                   
                <p>{{el.number_group}}</p>
                <p>{{el.special}}</p>
                {% for el1 in count_students %}
                {% if el.number_group == el1.0 %}
                <p>Численность: <a href="{% url 'FirstTry:students_in_groups' el.id%}"> {{el1.1}}</a> </p>
                {%endif%}
                {%endfor%}
                 <a href="{% url 'FirstTry:groups_up' el.id%}">Изменить</a> | <a href="{% url 'FirstTry:groups_delete' el.id%}">Удалить</a></td>
            </div>
           </form>
       {% endfor %}
{%endblock%}
