<!DOCTYPE html>
<html lang="en">
   {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myPage1/css/main.css' %}">
    <style type="text/css">
       </style>
</head>
    <nav class="top-menu">
         {% csrf_token %}
        <ul class="menu-main">
          <li><a  href="{% url 'FirstTry:groups'%}" >Группы</a></li>
          <li><a href="{% url 'FirstTry:students'%}">Студенты</a></li>
            <a {%block link%}  {%endblock%}> <li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>  Добавить </button></li></a>
        </ul>
      </nav>
       {%block content%}
        {% endblock %}

</body>
</html>