{%extends 'myPage1/mainTheme.html'%}
{%block link%} href="{% url 'FirstTry:create_students'%}" {%endblock%}
{%block content%}
       {%for el in name%}

            <div class="alert alert-warning">
                {{el.id}}
                {{el.fullname}}
                {{el.name}}
                {{el.otchest}}
                {{el.category1}}
                <a href="{% url 'FirstTry:studente' el.id %}">Изменить</a> | <a href="{% url 'FirstTry:studente_delete' el.id%}" >Удалить</a>
            </div>

       {% endfor %}
  {% endblock %}